.linkstext{padding: 10px 0;float:left;font-size:1em;clear:both;border-bottom:1px solid #999;}
/*.linkListing-data.column1 {width:25%;font-size:1em;}
.linkListing-data.column2 {width:65%;font-size:1em;}
.linkListing-data.column3 {width:10%;font-size:1em;}
.productListing-even .linkListing-data{padding:5px;font-size:1em;;background:ivory;color:#000;}
.productListing-odd .linkListing-data{padding:5px;font-size:1em;color:#000;}
div.linkstext>img a {float:left;}*/

